.back-color{
    background-color:#66c92d;
}
html,body{
    height:100%;
    padding:5px;
    background-color:#66c92d;
}
body{
    color:#ffffff;
    font-size:8px;
}
button{
    position:relative;
    width:60%;
    height:50%;
    border:none;
    background-color:white;
    border-radius:10px;
    box-shadow:0 4px #000000;
    top:0px;
    color:#42c507;
    font-size:20px;
    transition:all 0.2s;
}
    button:active{
        position:relative;
        box-shadow:none;
        top:4px;
        transition:all 0.2s;
    }
.center-content{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}
/* index.html */
#index{
    text-align: center;
}
#index .div-title{
    height: 20%;
}
#index input[name="food-image"]{
    display: none;
}
#index .div-img{
    height:50%;
}
#index .div-img img{
    height:auto;
    width:90%;
    border:none;
}
/* history.html */
#history .row-header{
    height:20%;
    font-size:20px;
    text-align: center;
}
#history .row-header input{
    height:40%;
    width:60%;
    margin-bottom:10px;
    border-radius: 20px;
    text-align: center;
    font-size:7px;
}
#history .row-header button{
    border-radius: 50% 50%;
}
#history .row-input{
    height:15%;
    text-align:center;
}
#history .getImgBtn{
    height:100%;
    width:50%;
}
#history .row-result{
    height:80%;
}
#history .img-result{
    height: 100%;
    width:auto;
    border-radius:20px;
}
#history .img-wrap{
    display: none;
    position:relative;
    width:80%;
    height:150px;
    margin-right:auto;
    margin-left:auto;
    border-radius:20px;
    padding:5px;
    margin-bottom:10px;
    margin-top:10px;
    background-color:#ffffff;
}